@*@model IEnumerable<DAL.User>*@
@model IEnumerable<DomainModels.UserModel>

@{
    ViewData["Title"] = "User List";
}

<h1>User List</h1>

<p>
    <a asp-action="SignUp">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Passoword)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ConfirmPassoword)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Passoword)*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ConfirmPassoword)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Terms)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId },
                    new { onclick = "return confirm('Are you sure to delete?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
